#me{
    width: 36rem;
    position: absolute;
    z-index: -100;
    left: 45rem;
    top: 6rem;
    border-radius: 20px;
    animation: loadFromRight 1s ease-out;
}

#textOne{
    width: 25rem;
    position: relative;
    left: 1rem;
    border-right: solid 1px;
    animation: loadFromLeft 1s ease-out;
}

#textTwo{
    width: 17rem;
    position: absolute;
    top: 22.8rem;
    left: 27rem;
    animation: loadFromLeft 1s ease-out;
}

h1{
    font-size: 6rem;
    width: 55rem;
    text-align: center;
    margin: 10px;
    animation: loadFromLeft 1s ease-out;
}

@keyframes loadFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes loadFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes loadFromTop {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}